p {
  color: var(--theme-text);
}

form {
  display: flex;
  flex-direction: column;
  width: 30em;
  gap: 0.3em;
}
form input {
  padding: 0.4em;
}
.comment {
  border: 1px solid var(--theme-text);
  border-radius: 2em;
  padding: 1em;
  width: 28em;
  h2 {
    margin: 5px;
  }
}
.show {
  animation: 0.3s show forwards;
}
@keyframes show {
  from {
    height: 0;
  }
  to {
    height: 40px;
  }
}
@keyframes hide {
  from {
    height: 40px;
  }
  to {
    height: 0;
  }
}

.hide {
  animation: 0.3s hide forwards;
}
.download-button {
  padding: 10px;
  border-radius: 15px;
  text-decoration: none;
  color: var(--theme);
  background-image: linear-gradient(
    90deg,
    rgb(153, 37, 176),
    rgb(39, 206, 156)
  );
  cursor: pointer !important;
  border: 1px solid var(--theme);
  transition: 0.5s;
  width: 100px;
  text-align: center;
  animation: 0.5s show-button forwards;
}
@keyframes show-button {
  from {
    width: 0;
  }
  to {
    width: 100px;
  }
}
.download-button:hover {
  background-position: 120px;
}

.buttons-wrapper {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}
.buttons-wrapper button {
  flex: 1;
}
